Django==2.1
emoji==0.5.0
requests==2.19.1
psycopg2==2.7.5
nltk==3.2.4
scikit-learn==0.19.2
sklearn==0.0
numpy==1.13.3
scipy==1.1.0
xgboost==0.80
-e git+ssh://git@github.com/opintel/mi-salud.git@setupversion#egg=rpml